<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main th:fragment="main" class="main ">
        <h1>"En science, la bonne question ça n'est pas pouquoi mais POURQUOI PAS!"</h1>
        <p>"Oui la science est souvent dangeureuse, et alors?"</p>
        <p>"Si vous avez si peur de vous mouiller, prenez vos clics, vos clacs et retourez au jardin d'enfants, en tout cas vous êtes virés"</p>
    </main>
</body>
</html>