<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: head}">
</head>
<body>

<div th:replace="~{fragments/base :: nav}"></div>
<div th:replace="~{fragments/base :: footer}"></div>

<main th:fragment="main" class="main ">
    <h1>"En science, la bonne question ça n'est pas pouquoi mais POURQUOI PAS!"</h1>
    <p>"Oui la science est souvent dangeureuse, et alors?"</p>
    <p>"Si vous avez si peur de vous mouiller, prenez vos clics, vos clacs et retourez au jardin d'enfants, en tout cas vous êtes virés"</p>
</main>

</body>
</html>