<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/signup}" th:object="${signupDto}" method="post">
    <div><label> User Name : <input th:field="*{username}" type="text" name="username"/> </label></div>
    <div><label> Email : <input th:field="*{email}" type="text" name="email"/> </label></div>
    <div><label> Password: <input th:field="*{password}" type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
<a th:href="@{/login}">Already have an account ?</a>

</body>
</html>